//
// Basic Bootstrap table
//

.table {
  width: 100%;
  margin-bottom: $spacer;
  color: $table-color;
  background-color: $table-bg; // Reset for nesting within parents with `background-color`.

  th,
  td {
    padding: $table-cell-padding;
    vertical-align: top;
    border-top: $table-border-width solid $table-border-color;
  }

  thead th {
    vertical-align: bottom;
    border-bottom: (2 * $table-border-width) solid $table-border-color;
  }

  tbody + tbody {
    border-top: (2 * $table-border-width) solid $table-border-color;
  }
}

//
// Condensed table w/ half padding
//

.table-sm {
  th,
  td {
    padding: $table-cell-padding-sm;
  }
}

// Border versions
//
// Add or remove borders all around the table and between all the columns.

.table-bordered {
  border: $table-border-width solid $table-border-color;

  th,
  td {
    border: $table-border-width solid $table-border-color;
  }

  thead {
    th,
    td {
      border-bottom-width: 2 * $table-border-width;
    }
  }
}

.table-borderless {
  th,
  td,
  thead th,
  tbody + tbody {
    border: 0;
  }
}

// Zebra-striping
//
// Default zebra-stripe styles (alternating gray and transparent backgrounds)

.table-striped {
  tbody tr:nth-of-type(#{$table-striped-order}) {
    background-color: $table-accent-bg;
  }
}

// Hover effect
//
// Placed here since it has to come after the potential zebra striping

.table-hover {
  tbody tr {
    @include hover() {
      color: $table-hover-color;
      background-color: $table-hover-bg;
    }
  }
}

// Table backgrounds
//
// Exact selectors below required to override `.table-striped` and prevent
// inheritance to nested tables.

@each $color, $value in $theme-colors {
  @include table-row-variant(
    $color,
    theme-color-level($color, $table-bg-level),
    theme-color-level($color, $table-border-level)
  );
}

@include table-row-variant(active, $table-active-bg);

// Dark styles
//
// Same table markup, but inverted color scheme: dark background and light text.

// stylelint-disable-next-line no-duplicate-selectors
.table {
  .thead-dark {
    th {
      color: $table-dark-color;
      background-color: $table-dark-bg;
      border-color: $table-dark-border-color;
    }
  }

  .thead-light {
    th {
      color: $table-head-color;
      background-color: $table-head-bg;
      border-color: $table-border-color;
    }
  }
}

.table-dark {
  color: $table-dark-color;
  background-color: $table-dark-bg;

  th,
  td,
  thead th {
    border-color: $table-dark-border-color;
  }

  &.table-bordered {
    border: 0;
  }

  &.table-striped {
    tbody tr:nth-of-type(#{$table-striped-order}) {
      background-color: $table-dark-accent-bg;
    }
  }

  &.table-hover {
    tbody tr {
      @include hover() {
        color: $table-dark-hover-color;
        background-color: $table-dark-hover-bg;
      }
    }
  }
}

// Responsive tables
//
// Generate series of `.table-responsive-*` classes for configuring the screen
// size of where your table will overflow.

.table-responsive {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);

    &#{$infix} {
      @include media-breakpoint-down($breakpoint) {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;

        // Prevent double border on horizontal scroll due to use of `display: block;`
        > .table-bordered {
          border: 0;
        }
      }
    }
  }
}

//custom price table
.table-price {
  .card {
    border-radius: 0px !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__item {
    padding: 14px 18px;
  }

  .column--border {
    .table-price__item {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      border-left: 1px solid #c4c4c4;
      position: relative;

      &:nth-child(1) {
        background: #ebebeb;
      }

      &:nth-child(2) {
        border-top: 1px solid #c4c4c4;
        border-bottom: 1px solid #c4c4c4;
      }

      .movil-type {
        display: none;
      }
    }
  }

  @media (max-width: 768px) {
    &__column:nth-child(1) {
      display: none;
    }

    &__item {
      .movil-type {
        border: 1px solid #7f4391;
        padding: 5px 10px;
        color: #7f4391;
        font-size: 11px;
        font-weight: 400;
        position: absolute;
        left: 20px;
        top: 10px;
        display: block !important;
      }
    }
  }
}

//table calendarie
.calendario {
  margin-bottom: 2em;
  &__table {
    width: 100%;

    .isSelect {
      background-color: $primary !important;

      .cal-heading-title {
        opacity: 1 !important;
      }
    }

    .isActived {
      background-color: $teal;

      a {
        color: white;
      }
    }

    .selected {
      background-color: $primary;

      a {
        color: white;
      }
    }

    .row-head {
      color: #fff;
      background-color: rgba(127, 67, 145, 0.8);
      overflow: hidden;
      transition: 0.2s ease-in;

      &:hover {
        background-color: $primary;

        .cal-heading-title {
          opacity: 1;
        }
      }

      &:nth-child(8) {
        border-radius: 0px 10px 0px 0px;
      }

      &:nth-child(2) {
        border-radius: 10px 0px 0px 0px;
      }

      .cal-heading-title {
        font-size: 10px;
        background: $indigo;
        margin-bottom: 8px;
        opacity: 0;
      }
    }

    .inner-wrap {
      padding: 5px 10px;

      .cal-month {
        width: 100%;
        display: block;
        font-size: 75%;
        opacity: 0.7;
        margin-top: -3px;
        margin-bottom: 6px;
      }
    }

    .no-bordir {
      border-right: 0px !important;
    }

    .column-head {
      color: #fff;
      background-color: rgba(127, 67, 145, 0.8);
      overflow: hidden;
      transition: 0.2s ease-in;
      position: relative;
      display: flex;
      transition: 0.2s ease;
      width: 100%;
      border: 0px;
      border-bottom: 2px solid #c4c4c4;

      &__start {
        border-radius: 10px 0 0 0;
      }

      &__end {
        border-radius: 0 0 0 10px;
      }

      .cal-heading-title {
        width: 15%;
        background: $indigo;
        position: relative;
        opacity: 0;

        p {
          transform: rotate(-90deg);
          font-size: 11px;
          position: absolute;
          top: 0px;
          bottom: 0px;
          left: 3px;
        }
      }

      .inner-wrap {
        padding: 5px 10px;
        width: 85%;
        text-align: left;
      }
    }
  }

  &__header {
    border: 0px !important;
    border-right: 1px solid #c4c4c4 !important;
  }

  &__cell {
    &:hover {
      background-color: $success;
      border-bottom: 3px solid $primary;

      a {
        color: white;
      }
    }

    a {
      text-decoration: none;
    }

    .option-price {
      font-size: 14px;
    }

    &--disable {
      background: $gray-200 !important;
      padding: 10px 20px;

      &:hover {
        background: $gray-200 !important;
        border-bottom: 0px;
      }
    }
  }

  td {
    text-align: center;
    border: 2px solid #e1e1e1;
    width: 1.7%;
  }

  @include media-breakpoint-up(sm) {
    @for $i from 1 through 7 {
      .col#{$i} {
        width: 0% !important;
        display: none;
      }
    }
  }
}
