//accordion filter
.menu-accordion {
  background: white;
  border: 1px solid lightgray;
  margin-bottom: 0.5em;

  .icon-suspendido {
    position: absolute;
    right: 0px;
    bottom: 0px;
    top: 2px;
    font-size: 30px;
    color: $primary;
  }

  .card {
    background: white !important;
    border-bottom: 1px solid lightgray !important;
    border-radius: 0px;
    border: 0px;

    .card-header {
      background: white;
      padding: 8px 10px;
      transition: 0.3s ease-in;
      border-radius: 0px;

      &:hover {
        background: $primary;
        .btn {
          color: white;
        }

        .btn-link {
          text-decoration: none !important;
        }

        i {
          color: white;
        }
      }

      .btn {
        color: black;
        width: 100%;
        text-align: left;
        font-size: 20px;
        font-weight: 500;
        position: relative;
      }
    }
  }
}
